---
import Favicon from "~/components/Favicon.astro";
import FontLinks from "~/components/starter/FontLinks.astro";
import "~/styles/globals.css";
import { tw } from "~/utils/tw";

type Props = {
  title: string;
};

const { title } = Astro.props;

const starterStyles = tw([
  "bg-neutral-950 font-[Geist,sans-serif] text-base text-neutral-100",
  "selection:bg-neutral-200 selection:text-neutral-900",
]);
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <FontLinks />
    <Favicon />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class={starterStyles}>
    {/* This wrapper prevents a body overflow in mobile browsers. */}
    <div class="flex min-h-screen flex-col">
      {/* <Header /> */}
      <main class="grid flex-1 items-center">
        <slot />
      </main>
      {/* <Footer /> */}
    </div>
  </body>
</html>
